<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        .blue-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 250px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.blue-button {
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
}
    </style>

    <div>
        <center>
            <h1 style="padding-top: 220px;">Logit to your acount or create new</h1>
        </center>
    </div>

    <div class="login">

        <center>
            <form>
                <a>Enter you email</a>
                <br>
                <input type="email">
                <br>
            </form>
        </center>

        <center>
            <h2>--Or using--</h2>
            <button class="blue-button">Discord</button>

        </center>

    </div>
    
</body>
</html>